<div id="order">
  <div class="row">
    <div class="col-md-12">
      <h4>Detalles de la orden</h4>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">

        <div class="col-md-4">
          <div class="shipping-address-review-order">
            <h5>Dirección de Envio</h5>
            <span class="address-name"><strong>Nombre:</strong> <%= @order.name %></span>
            <span class="address-phone"><strong>Telefono:</strong> <%= @order.phone %></span>
            <span class="address-address"><%= @order.address %></span>
          </div>
        </div>

        <div class="col-md-4">
          <div class="billing-information">
            <h5>Información de Pago</h5>
            <span class="card-number">Visa terminada en 5461</span>
          </div>
        </div>

        <div class="col-md-4">
          <div class="total-information">
            <table class="table">
              <tr>
                <td>Subtotal</td>
                <td class="right"><%= number_to_currency(@order.subtotal) %></td>
              </tr>
              <tr>
                <td>Envio</td>
                <td class="right"><%= number_to_currency(@order.shipping) %></td>
              </tr>
              <tr>
                <td>ITBIS</td>
                <td class="right"><%= number_to_currency(@order.tax) %></td>
              </tr>
              <tr>
                <td>Total</td>
                <td class="right"><%= number_to_currency(@order.total) %></td>
              </tr>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  <% @order.order_items.each do |item| %>
    <%= render item %>
  <% end %>

  <div class="row">
    <div class="col-md-12 order-totals">
    </div>
  </div>
</div>
