<div class="row">
  <div class="col-md-12">
    <span class="title">Articulos en el carrito</span>
  </div>
</div>

<form method="post" id="cart_form">
  <%= token_tag %>
  <input id="product_id" type="hidden" name="product" />
</form>



<% @cart.shopping_cart_items.each do |item| %>
  <div class="row cart_item">
    <div class="col-md-2">
      <%= image_tag item.item.image.url :thumb %>
    </div>
    <div class="col-md-10">

      <div class="row">
        <div class="col-md-7">
          <h5><%= item.item.name %></h5>
        </div>
        <div class="col-md-1">
          <span><%= item.price %></span>
        </div>
        <div class="col-md-1">
          <span><%= item.quantity %></span>
        </div>
        <div class="col-md-3 align-right">
          <h5><%= item.price * item.quantity %></h5>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-2 pull-right align-right">
          <div class="delete-cart-item"><a href="javascript:delete_item(<%= item.id %>);">Borrar del carrito</a></div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row align-right subtotal">
  <div class="col-md-12">
    <span>Subtotal $ <%= @cart.subtotal %></span>
  </div>
</div>


