<nav class="navbar main-nav" role="navigation">
<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="nav-wrapper">
    <a href="<%= store_path(id: @store.identifier) %>" class="pull-left logo-tag">
      <img src="/images/radioshack.png" />
    </a>


    <ul class="nav navbar-nav navbar-right pull-right">
        <li>
        <a class="" title="Cart" href="<%= store_cart_path(@store.identifier) %>"><i class="fa fa-shopping-cart cart-top-icon"></i></a>
        </li>
        <% if user_signed_in? %>
            <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-user cart-top-icon"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><%= link_to "Mis ordenes", store_orders_path(@store.identifier), id: 'my_orders_link' %></li>
                <li><%= link_to "Cerrar Sesión", destroy_user_session_path(:id => @store.identifier), :method => :delete %></li>
            </ul>
            </li>
        <% else %>
            <li>
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">Acceder <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-lr animated login-dropdown" role="menu">
                <div class="col-lg-12">
                    <div class="text-center"><h3><b>Acceder</b></h3></div>
                    <form id="ajax-login-form" action="<%= user_session_path(:id => @store.identifier) %>" method="post" role="form" autocomplete="off">
                        <%= token_tag nil %>
                        <input type="hidden" name="next" value="<%= params[:next] || request.fullpath %>" />
                        <div class="form-group">
                            <label for="username">Correo Electrónico</label>
                            <input type="text" name="user[email]" id="username" tabindex="1" class="form-control" placeholder="Username" value="" autocomplete="off">
                        </div>

                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" name="user[password]" id="password" tabindex="2" class="form-control" placeholder="Password" autocomplete="off">
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-7">
                                    <a href="<%= new_user_registration_path(:id => @store.identifier) %>"><button type="button" class="btn btn-default">Registarse</button></a>
                                </div>
                                <div class="col-xs-5 pull-right">
                                    <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-default" value="Ingresar">
                                </div>
                            </div>
                        </div>

                        <input type="hidden" class="hide" name="token" id="token" value="a465a2791ae0bae853cf4bf485dbe1b6">
                    </form>
                </div>
            </ul>
            </li>
        <% end %>


        <li>
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></a>
        <ul class="dropdown-menu dropdown-lr animated login-dropdown" role="menu">
          <h4>Categorias</h4>
          <% @store.categories.each do |category| %>
            <li class="col-md-6 col-xs-6">
              <%= link_to category.name, store_category_path(@store.identifier, category.identifier) %>
            </li>
          <% end %>
        </ul>
        </li>



    </ul>

  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="nav-wrapper">
  </div>
</div>
</nav>

