<div class="row product-show">
  <div class="col-md-5">
    <img src="<%= @product.image.url :large %>" style="border:none;"alt="">
  </div>
  <div class="col-md-7">
    <h2><%= @product.name %></h2>
    <span class="price">$ <%= @product.price %></span>
    <span class="availability">
      <% if @product.quantity > 0 %>
        Hay disponible
      <% else %>
        Out of stock
      <% end %>
    </span>
    <div class="add-to-cart">
      <form method="post" action="<%= add_item_store_cart_path(@store.identifier, @product) %>" >
        <%= token_tag nil %>
        <input type="hidden" name="product_id" value="<%= @product.id %>" />
        <div class="qty-container">
          <button class="qty-decrease" onclick="var qty_el = document.getElementById('qty'); var qty = qty_el.value; if( !isNaN( qty ) && qty > 1 ) qty_el.value--;return false;" type="button"><i class="fa fa-chevron-left"></i></button>
          <input id="qty" class="input-text qty" type="text" title="Qty" value="1" name="quantity">
          <button class="qty-increase" onclick="var qty_el = document.getElementById('qty'); var qty = qty_el.value; if( !isNaN( qty )) qty_el.value++;return false;" type="button"><i class="fa fa-chevron-right"></i></button>
          <button class="btn-cart" title="Add to Cart" data-id="qv_item_8" type="submit">
            Agregar al carrito
          </button>

        </div>

      </form>

    </div>
    <p><%= @product.description %></p>
  </div>
</div>

