
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Detail</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins:300,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'store', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Style Sheet-->
    <!-- META TAGS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <nav class="navbar navbar-inverse main-nav" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% @store.categories.each do |category| %>
            <li>
            <a href="<%= category_path(id: @store.identifier, category_id: category.identifier) %>" >
              <%= category.name %>
            </a>
            </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
          <a class="" title="Cart" href="<%= cart_path(id: @store.identifier) %>"><i class="fa fa-shopping-cart cart-top-icon"></i> RD$<%= get_cart.subtotal %></a>
          </li>
          <% if user_signed_in? %>
            <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Mi cuenta
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><%= link_to "Cerrar Sesión", destroy_user_session_path(:id => @store.identifier), :method => :delete %></li>
            </ul>
            </li>
          <% else %>
            <li>
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">Acceder <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-lr animated slideInRight" role="menu">
              <div class="col-lg-12">
                <div class="text-center"><h3><b>Acceder</b></h3></div>
                <form id="ajax-login-form" action="<%= user_session_path(:id => @store.identifier) %>" method="post" role="form" autocomplete="off">
                  <%= token_tag nil %>
                  <div class="form-group">
                    <label for="username">Correo</label>
                    <input type="text" name="user[email]" id="username" tabindex="1" class="form-control" placeholder="Username" value="" autocomplete="off">
                  </div>

                  <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" name="user[password]" id="password" tabindex="2" class="form-control" placeholder="Password" autocomplete="off">
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-7">
                        <a href="<%= new_user_registration_path(:id => @store.identifier) %>"><button type="button" class="btn btn-success">Registarse</button></a>
                      </div>
                      <div class="col-xs-5 pull-right">
                        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-success" value="Ingresar">
                      </div>
                    </div>
                  </div>

                  <input type="hidden" class="hide" name="token" id="token" value="a465a2791ae0bae853cf4bf485dbe1b6">
                </form>
              </div>
            </ul>
            </li>
          <% end %>


        </ul>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="<%= store_path(id: @store.identifier) %>">
          <img src="/images/radioshack.png" style="width: 200px;"/>
        </a>
      </div>
    </div>

    <%= yield %>
  </div>

  <div class="container-fluid footer">
    <div class="row">
      <div class="col-md-12">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <span class="aliados-header">Contacto</span>
              <div class="icon-span">
                <i class="fa fa-envelope icon-white"></i><span>info@pidelocal.com</span>
              </div>
              <div class="icon-span">
                <i class="fa fa-phone icon-white"></i><span>(829) 696-4737</span>
              </div>
            </div>
          </div>
          <div class="row pidelocal-footer-image-row">
            Powered by  
            <img src="/images/pidelocalwhite.png" class="pidelocal-footer-image" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Scripts -->
</body>
</html>
