
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title><%= @store.name %></title>
    <link href='https://fonts.googleapis.com/css?family=Poppins:300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'store', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Style Sheet-->
    <!-- META TAGS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <div id="wrapper">

      <%= render 'nav' %>

      <%= render 'flash_messages' %>


      <div id="content">
        <!-- Container -->
        <div class="container">
          <div class="row logo-row">
            <div class="col-md-12">
              <a href="<%= store_path(id: @store.identifier) %>">
                <img src="/images/radioshack.png" style="width: 200px;"/>
              </a>
            </div>
          </div>

          <%= yield %>
        </div>
        <!-- Container -->
      </div>

      <div id="footer">
        <%= render 'store_footer' %>
      </div>

    </div><!-- Wrapper -->

    <!-- Scripts -->
  </body>
</html>
